<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OpenDroneList</title>
    <link rel="stylesheet" href="styles.css" type="text/css" />
  </head>
  <body>
    <main>
      <h1>OpenDroneList</h1>

      <p>Open-source list of drones and their properties</p>

      <p>
        <a href="#"><span class="icon-github"></span> View or edit on GitHub</a>
      </p>

      <p>Available in various formats:</p>

      <div class="formats">
        <ul>
          <li>
            <a href="#"
              ><span class="icon-file-text-o"></span> Download in CSV</a
            >
          </li>
          <li>
            <a href="#"
              ><span class="icon-file-excel-o"></span> Download in XLS</a
            >
          </li>
        </ul>
        <ul>
          <li>
            <a href="#"
              ><span class="icon-file-code-o"></span> Download in JSON</a
            >
          </li>
          <li>
            <a href="#"
              ><span class="icon-file-archive-o"></span> Download all in ZIP</a
            >
          </li>
        </ul>
      </div>

      <table class="table table-bordered table-hover table-condensed">
        <thead>
          <tr>
            <th>Manufacturer</th>
            <th>Model Name</th>
            <th title="The aircraft type">Type  <span class="icon-info"></span></th>
            <th title="UAS class defined by ...">UAS Class  <span class="icon-info"></span></th>
            <th title="...">Weight (grams)  <span class="icon-info"></span></th>
            <th title="Maximum takeoff weight">Max. tkoff weight (grams)  <span class="icon-info"></span></th>
            <th title="...">Endurance (minutes)  <span class="icon-info"></span></th>
            <th title="...">Has camera?  <span class="icon-info"></span></th>
            <th title="...">Is a toy?  <span class="icon-info"></span></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>3D Robotics</td>
            <td>Aero</td>
            <td>Other</td>
            <td></td>
            <td align="right">3000</td>
            <td align="right"></td>
            <td align="right"></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>3D Robotics</td>
            <td>Aero M</td>
            <td>Other</td>
            <td></td>
            <td align="right">3000</td>
            <td align="right"></td>
            <td align="right"></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>3D Robotics</td>
            <td>IRIS+</td>
            <td>Other</td>
            <td></td>
            <td align="right">1282</td>
            <td align="right"></td>
            <td align="right"></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>3D Robotics</td>
            <td>Solo</td>
            <td>Other</td>
            <td></td>
            <td align="right">1510</td>
            <td align="right"></td>
            <td align="right"></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>3D Robotics</td>
            <td>X8+</td>
            <td>Other</td>
            <td></td>
            <td align="right">2600</td>
            <td align="right"></td>
            <td align="right"></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>3D Robotics</td>
            <td>X8-M</td>
            <td>Other</td>
            <td></td>
            <td align="right">2600</td>
            <td align="right"></td>
            <td align="right"></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>ACSL</td>
            <td>PF1</td>
            <td>Other</td>
            <td></td>
            <td align="right"></td>
            <td align="right"></td>
            <td align="right"></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>AeroSense</td>
            <td>AS-MC02-P</td>
            <td>Other</td>
            <td></td>
            <td align="right"></td>
            <td align="right"></td>
            <td align="right"></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>AirWood</td>
            <td>CUBEE</td>
            <td>Other</td>
            <td></td>
            <td align="right">80</td>
            <td align="right"></td>
            <td align="right">8</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Autel</td>
            <td>Dragonfish</td>
            <td>Other</td>
            <td></td>
            <td align="right">8500</td>
            <td align="right"></td>
            <td align="right">120</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Autel</td>
            <td>Evo</td>
            <td>Other</td>
            <td></td>
            <td align="right">863</td>
            <td align="right">1000</td>
            <td align="right"></td>
            <td>✔</td>
            <td>⨯</td>
          </tr>
          <tr>
            <td>Autel</td>
            <td>Evo 2 Dual</td>
            <td>Other</td>
            <td></td>
            <td align="right">1150</td>
            <td align="right">2000</td>
            <td align="right">40</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Autel</td>
            <td>Evo 2 Dual 640T</td>
            <td>Other</td>
            <td></td>
            <td align="right">1150</td>
            <td align="right">2000</td>
            <td align="right">40</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Autel</td>
            <td>Evo 2 Pro</td>
            <td>Other</td>
            <td></td>
            <td align="right">1191</td>
            <td align="right">1999</td>
            <td align="right"></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Autel</td>
            <td>Evo II</td>
            <td>Other</td>
            <td></td>
            <td align="right">1150</td>
            <td align="right">1999</td>
            <td align="right">40</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Autel</td>
            <td>Kestral</td>
            <td>Other</td>
            <td></td>
            <td align="right">2000</td>
            <td align="right"></td>
            <td align="right"></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Autel</td>
            <td>Kestrel</td>
            <td>Other</td>
            <td></td>
            <td align="right">2000</td>
            <td align="right">14000</td>
            <td align="right">120</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Autel</td>
            <td>Other Model</td>
            <td>Other</td>
            <td></td>
            <td align="right"></td>
            <td align="right"></td>
            <td align="right"></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Autel</td>
            <td>X-Star</td>
            <td>Other</td>
            <td></td>
            <td align="right">1420</td>
            <td align="right"></td>
            <td align="right">25</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Autel</td>
            <td>X-Star Premium</td>
            <td>Other</td>
            <td></td>
            <td align="right">840</td>
            <td align="right"></td>
            <td align="right"></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>BlueBee</td>
            <td>Other Model</td>
            <td>Other</td>
            <td></td>
            <td align="right"></td>
            <td align="right"></td>
            <td align="right"></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>

      <footer>
        Created and maintained by
        <a href="https://dronetag.cz">Dronetag</a>
      </footer>
    </main>
  </body>
</html>
